@CHARSET "ISO-8859-1";
#googlemapmarker_err_here{height:10px;color:red;margin-top:0px;}
.warn_border{border: 2px solid red;}
a{text-decoration:none !important;}
a:hover{text-decoration:underline !important;}
#googlemapmarker_result_con {text-align:center}
#googlemapmarker_loader{width:48px;height:48px;margin-top:35px;display:inline-block}
.input_area a {margin-top:-8px;display:inline-block}


.module_title {text-decoration:none;background: url("../img/right_scroll.gif") no-repeat center right; padding-right:5px;cursor:pointer;}
.symb_style {font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;color:#000000;}

.tbl_option {margin-top:5px;margin-left:115px}

/* float */
.fl {float:left !important}
.fr {float:rigth !important}

/* margin */

.sml {margin-left:5px !important}
.smt {margin-top:2px !important}

.width_1 {width:55px}

.tbl_option td {padding-bottom:3px}

.radio_btn_search {float:left !important;width:auto !important;margin:0 !important}
.radio_btn_label {float:left !important;margin:0 0 0 5px!important}

input.btn_apply {width:103px;height:25px !important;border:none;display:inline-block;text-align:center;padding:4px 0 5px 0;background:#000 url([IMG]/bg_btn_input.gif) repeat-x;font-weight:bold;font-size:13px;color:#fff;text-decoration:none !important;vertical-align:middle}
.custom_image {width:25px;height:25px;display:inline-block}

.place_check_list li {width:100%;display:inline-block}
.place_check_list .radio_btn_search {float:left;}
.place_check_list .radio_btn_label {float:left;width:320px;text-align:left;display:inline-block}